section{
    position: relative;
    width: 100%;
    height: 100vh; /* altura total da viewport */
    background: url('../../assets/images/banner-bg.png') no-repeat center center;
    background-size: cover;
}
section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* camada escura */
    z-index: 1;
}

section > * {
    position: relative;
    z-index: 2; /* garante que o conteúdo fique acima do overlay */
}