<section class="d-flex align-items-center text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="container">
                    <h1 class="fs-1">Inovar Potiguar</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero dicta fugiat ea minima nemo,
                        perspiciatis
                        harum aliquam accusantium nulla voluptates animi laboriosam officiis quidem enim quibusdam amet
                        expedita
                        distinctio numquam. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis laborum
                        incidunt aliquid quod nesciunt iusto corporis quisquam dolorum modi. Doloremque impedit
                        aspernatur nisi
                        tempora ducimus sint accusamus deleniti provident quos.</p>
                </div>
                <hr>
                <div class="container d-flex justify-content-evenly">
                    <button type="button" class="btn btn-warning btn-lg rounded-5">Sobre</button>
                    <button type="button" class="btn btn-light btn-lg rounded-5">Contato</button>
                </div>
            </div>
        </div>
    </div>
</section>