<section class="row d-flex ">
    <div class="row d-flex text-md-end justify-content-around">
        <div class="col-md-5 align-self-center ">
            <div class="container pb-5">
                <div>
                    <h1 class="">Trabalhamos com os Melhores Parceiros</h1>
                </div>
                <p class="fs-6 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt officiis voluptatem
                    quidem? Id, ducimus.
                    Nobis autem veritatis eaque? Nam, corrupti deserunt ducimus ullam nulla beatae consequuntur. Nam
                    delectus minus deleniti! Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro similique
                    eaque
                    odio. Tenetur fugit vero unde repellat labore minus in aliquid odit commodi perspiciatis. Qui itaque
                    saepe amet magni placeat.</p>
                <button type="button" class="btn btn-success mt-3 fs-5 py-3">SAIBA MAIS!</button>
            </div>
        </div>
        <img class="col-md-6 border border-5 border-success img-fluid img-thumbnail shadow-lg rounded py-3"
            src="assets/images/instituicoes/imagem1.jpg"
            alt="Imagem de duas pessoas apertando as mãos lembrando parceiria">
    </div>
</section>