<section class="row d-flex align-items-center justify-content-center">
    <div class="row bg-success top-page text-center">
        <h1 class="fs-1 text-white fw-bold">Inova Potiguar</h1>
    </div>
    <div class="row d-flex m-5">
        <div class="row d-flex text-md-end justify-content-around">
            <img class="col-md-6 border border-5 border-success img-fluid img-thumbnail shadow-lg rounded py-3"
                src="assets/images/imagem1.jpg" alt="Imagem de duas pessoas apertando as mãos lembrando parceiria">
            <div class="col-md-5 align-self-center">
                <div class="container pb-5">
                    <h2 class="text-success fs-3">
                        O San Pedro Valley, por Victor Salles
                    </h2>
                    <div class="card d-flex flex-row align-items-center border rounded px-0 me-0">
                        <div class="card-body py-2 ">
                            <p class="card-text fs-7 py-5 px-2">
                                "Some quick example text to build on the card title and make up the bulk of the card's
                                contentSome quick example text to build on the card title and make up the bulk of the
                                card's contentSome quick example text to build on the card title and make up the bulk of
                                the card's content."</p>
                            <small>Author</small>
                        </div>
                        <img class="col-md-4 img-fluid rounded-end shadow-sm pe-0"
                            src="assets/images/profissionais/imagem1.jpg" alt="...">
                    </div>

                    <div>
                        <h2 class="text-success fs-2">O nascimento</h2>
                    </div>
                    <p class="fs-6 ">O San Pedro Valley é o nome do ecossistema de startups da região metropolitana de
                        Belo Horizonte. É difícil dizer com precisão quando ele surgiu, pois muitos cases de sucesso de
                        empresas com modelos de negócios altamente escaláveis acontecem aqui, nos arredores da Serra do
                        Curral, há muito tempo. Vale ressaltar o case da Akwan, empresa criada por professores da UFMG e
                        que foi vendida para o Google em 2005, razão pela qual o escritório de engenharia do Google
                        Brasil está localizado em BH desde então. Eu lembro que em 2008, quando fundei a Hekima com
                        outros sócios, pouco se falava de startups na capital mineira. Ninguém sabia direito o que é uma
                        startup e a empresa mais parecida com uma startup naquele momento era a Samba, fundada pelo
                        Gustavo Caetano.

                        No entanto, acredito que por volta de 2011 o ecossistema começou a ganhar densidade e nós
                        começamos a ouvir falar de outros cases e empresas nascendo em diversos segmentos. O nome surgiu
                        nessa época, por meio de uma brincadeira entre os sócios da Hotmart e da RockContent. Eles
                        dividiam uma sala alugada no bairro São Pedro e era comum encontrarem com outros empreendedores
                        ali nas redondezas durante um café ou almoço, por exemplo. Em um encontro com o Bernardo Porto,
                        fundador da DeskMetrics, o Mateus Bicalho (co-fundador da Hotmart) brincou com o Edmar Ferreira
                        (co-fundador da RockContent) que o bairro estava igual ao Vale do Silício, pois era fácil
                        encontrar algum fundador de startups por ali para trocar ideias e experiências. Daí surgiu o
                        nome de San Pedro Valley, fazendo alusão ao famoso Vale do Silício norte-americano.

                        O nome era tão engraçado que começou a aparecer nos papos com os demais empreendedores da
                        região, nos almoços e happy hours que aconteciam com frequência. É possível ver postagens de
                        twitter dessa época em que o pessoal usava as hashtags #sanpedrovalley e #spv.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex m-5">
        <div class="row d-flex text-md-start justify-content-around">
            <div class="col-md-4 align-self-center ">
                <div class="container pb-5">
                    <div>
                        <h2 class="text-success fs-2">A essência do movimento</h2>
                    </div>
                    <p class="fs-6 ">O movimento sempre foi baseado na colaboração entre os empreendedores para que as
                        suas empresas pudessem crescer. Cada negócio estava em um estágio de maturidade em relação a
                        produto, vendas, marketing, design, processos, investimentos e os empreendedores se conectavam
                        para aprender uns com os outros, compartilhar experiências e também as dores da jornada.

                        A comunidade que se formou ali era completamente orgânica, as pessoas se conectavam e a rede se
                        expandia a cada encontro. Era comum o pessoal se encontrar uma vez por mês para tomar cerveja e
                        discutir os rumos ou desafios dos negócios. Naquele momento, não tínhamos um contexto de
                        concorrência forte e por isso os papos eram bem abertos. O respeito e o acolhimento da cultura
                        mineira fazia com que o clima amistoso se expandisse com rapidez entre os participantes. Todos
                        se inspiraram com o desejo de criar negócios incríveis e aprendiam as formas inovadoras de
                        resolver os problemas em cada ramo do negócio uns com os outros.</p>
                </div>
            </div>
            <img class="col-md-6 border border-5 border-success img-fluid img-thumbnail shadow-lg rounded py-3"
                src="assets/images/imagem4.jpg"
                alt="Imagem de duas pessoas apertando as mãos lembrando parceiria">
        </div>
    </div>
    <div class="row d-flex m-5">
        <div class="row d-flex text-md-end justify-content-around">
            <img class="col-md-6 "
                src="assets/images/imagem3.jpg"
                alt="Imagem de duas pessoas apertando as mãos lembrando parceiria">
            <div class="col-md-4 align-self-center ">
                <div class="container">

                </div>
                <div class="container pb-5">
                    <div>
                        <h2 class="text-success fs-2">O nascimento do Órbi</h2>
                    </div>
                    <p class="fs-6 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt officiis voluptatem
                        quidem? Id, ducimus.
                        Nobis autem veritatis eaque? Nam, corrupti deserunt ducimus ullam nulla beatae consequuntur. Nam
                        delectus minus deleniti! Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
                        similique
                        eaque
                        odio. Tenetur fugit vero unde repellat labore minus in aliquid odit commodi perspiciatis. Qui
                        itaque
                        saepe amet magni placeat.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt officiis voluptatem
                        quidem? Id, ducimus.
                        Nobis autem veritatis eaque? Nam, corrupti deserunt ducimus ullam nulla beatae consequuntur. Nam
                        delectus minus deleniti! Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
                        similique
                        eaque
                        odio. Tenetur fugit vero unde repellat labore minus in aliquid odit commodi perspiciatis. Qui
                        itaque
                        saepe amet magni placeat.</p>
                </div>
            </div>
        </div>
    </div>
</section>