<section class="text-center">
    <h1>VENHA FAZER PARTE</h1>
    <div class="row d-flex justify-content-center">
        <div class="col-md-2 ">
            <div class="card container shadow-lg bg-body-tertiary p-3">
                <i class="fa-solid fa-5x fa-person-shelter  p-5"></i>
                <div class="card-body">
                    <h5 class="card-title fs-4">{{ card.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ card.subTitle }}</h6>
                    <p class="card-text">{{ card.text }}</p>
                    <a href="#" class="card-link">{{ card.link }}</a>
                </div>
            </div>
            <hr>
        </div>
        <div class="col-md-2 ">
            <div class="card container shadow-lg bg-body-tertiary p-3">
                <i class="fa-solid fa-5x fa-address-book  p-5"></i>
                <div class="card-body">
                    <h5 class="card-title fs-4">{{ card.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ card.subTitle }}</h6>
                    <p class="card-text">{{ card.text }}</p>
                    <a href="#" class="card-link">{{ card.link }}</a>
                </div>
            </div>
            <hr>
        </div>
        <div class="col-md-2 ">
            <div class="card container shadow-lg bg-body-tertiary p-3">
                <i class="fa-solid fa-5x fa-graduation-cap  p-5"></i>
                <div class="card-body">
                    <h5 class="card-title fs-4">{{ card.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ card.subTitle }}</h6>
                    <p class="card-text">{{ card.text }}</p>
                    <a href="#" class="card-link">{{ card.link }}</a>
                </div>
            </div>
            <hr>
        </div>
        <div class="col-md-2 ">
            <div class="card container shadow-lg bg-body-tertiary p-3">
                <i class="fa-solid fa-5x fa-brain  p-5"></i>
                <div class="card-body">
                    <h5 class="card-title fs-4">{{ card.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ card.subTitle }}</h6>
                    <p class="card-text">{{ card.text }}</p>
                    <a href="#" class="card-link">{{ card.link }}</a>
                </div>
            </div>
            <hr>
        </div>
        <!-- <div class="col-md-2 ">
            <hr>
            <div class="card container shadow-lg bg-body-tertiary p-3">
                <i class="fa-solid fa-5x fa-school-flag p-5"></i>
                <div class="card-body">
                    <h5 class="card-title fs-4">{{ card.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ card.subTitle }}</h6>
                    <p class="card-text">{{ card.text }}</p>
                    <a href="#" class="card-link">{{ card.link }}</a>
                </div>
            </div>
            <hr>
        </div> -->
    </div>
</section>