<nav class="navbar d-flex flex-column justify-content-around align-items-center fixed-top bg-body-tertiary ">
    <div class="container d-flex py-1">
        <button type="button" class="btn rounded-5 btn-animation fs-5">Inovar Potiguar</button>
        <button type="button" class="btn rounded-5 btn-animation fs-5">Startups</button>
        <button type="button" class="btn rounded-5 btn-animation fs-5">Ecossistema</button>
        <div class="col-3 d-flex justify-content-center align-items-center" >
            <a href="index.html" id="border-circle" class="rounded-circle p-4">
                <img src="assets/logo/logo.png" width="60em" style="padding-left: 0.1px;" alt="Logo">
            </a>
        </div>
        <button type="button" class="btn rounded-5 btn-animation fs-5">Pesquisadores</button>
        <button type="button" class="btn rounded-5 btn-animation fs-5">Projetos</button>
        <button type="button" class="btn rounded-5 btn-animation fs-5">Inovações</button>
    </div>
</nav>