:host {
  .activeHostButton {
    color: white;
    background-color: green;
  }
}

#border-circle {
  border: 1px;
  background-color: #f1faed;
}
#nav-items > button:hover {
  color: white;
  background-color: green;
}
