<nav class="navbar navbar-expand-md d-flex flex-column align-items-center fixed-top bg-body-tertiary py-0">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="col-lg-2 row d-flex justify-content-center align-items-center">
            <div class="py-2">
                <a href="index.html" id="border-circle" class="rounded-circle p-3">
                    <img src="assets/logo/logo.png" width="60em" style="padding-left: 0.1px;" alt="Logo">
                </a>
            </div>
        </div>
        <div class="col-md-8 d-flex justify-content-evenly align-self-stretch" id="nav-items">
            <button type="button" class="btn rounded-0 btn-animation fs-7 col-md-2" routerLink="/inova-potiguar"
                routerLinkActive="activeHostButton">Inova Potiguar</button>
            <button type="button" class="btn rounded-0 btn-animation fs-7 col-md-2" routerLink="/eventos"
                routerLinkActive="activeHostButton">Eventos</button>
            <button type="button" class="btn rounded-0 btn-animation fs-7 col-md-2" routerLink="/inovacoes"
                routerLinkActive="activeHostButton">Inovações</button>
            <button type="button" class="btn rounded-0 btn-animation fs-7 col-md-2" routerLink="/instituicoes"
                routerLinkActive="activeHostButton">Instituições</button>
            <button type="button" class="btn rounded-0 btn-animation fs-7 col-md-2">Projetos</button>
            <button type="button" class="btn rounded-0 btn-animation fs-7 col-md-2">Contato</button>
        </div>
        <div class="col-md-2 d-flex justify-content-end">
            <button type="button" class="btn btn-outline-secondary border-0 fs-7">Login</button>
            <button type="button" class="btn btn-success fs-7">Registre</button>
        </div>
    </div>
</nav>