<nav class="navbar d-flex flex-column align-items-center sticky-top bg-body-tertiary py-1">
    <div class="container d-flex">
        <div class="col-1 d-flex justify-content-center align-items-center" >
            <a href="index.html" id="border-circle" class="rounded-circle p-3">
                <img src="assets/logo/logo.png" width="60em" style="padding-left: 0.1px;" alt="Logo">
            </a>
        </div>
        <div class="col d-flex justify-content-evenly " id="nav-items">
            <button type="button" class="btn rounded btn-animation fs-7">Inovar Potiguar</button>
            <button type="button" class="btn rounded btn-animation fs-7">Startups</button>
            <button type="button" class="btn rounded btn-animation fs-7">Ecossistema</button>
            <button type="button" class="btn rounded btn-animation fs-7">Pesquisadores</button>
            <button type="button" class="btn rounded btn-animation fs-7">Inovações</button>
            <button type="button" class="btn rounded btn-animation fs-7">Projetos</button>
        </div>
        <div class="col-md-2 d-flex justify-content-end">
            <button type="button" class="btn btn-outline-secondary border-0 me-2 fs-7">Login</button>
            <button type="button" class="btn btn-success me-2 fs-7">Registre</button>
        </div>
    </div>
</nav>