<section class="container-fluid text-center">
    <div class="row">
        <h1 class=" fw-bold my-5">PRINCIPAIS PESQUISAS</h1>
        <owl-carousel-o [options]="customOptions">
            @for (card of cardColaboradores; track $index) {
            <ng-container>
                <ng-template carouselSlide [id]="$index.toString()">
                    <hr>
                    <hr>
                    <div class="card" id="card-project">
                        <img [src]="card.img" class="img-fluid rounded-top" alt="...">
                        <div class="card-body d-flex flex-column align-items-center justify-content-center">
                            <h4 class="card-title">{{ card.title }}</h4>
                            <p class="card-text text-align-justify">{{ card.text }}</p>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
            }
        </owl-carousel-o>
    </div>
    <div class="row">
        <h1 class=" fw-bold my-5">ÚLTIMAS PESQUISAS</h1>
        <owl-carousel-o [options]="customOptions">
            @for (card of cardColaboradores; track $index) {
            <ng-container>
                <ng-template carouselSlide [id]="$index.toString()">
                    <hr>
                    <hr>
                    <div class="card" id="card-project">
                        <img [src]="card.img" class="img-fluid rounded-top" alt="...">
                        <div class="card-body d-flex flex-column align-items-center justify-content-center">
                            <h4 class="card-title">{{ card.title }}</h4>
                            <p class="card-text text-align-justify">{{ card.text }}</p>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
            }
        </owl-carousel-o>
    </div>
</section>
