<section class="row d-flex flex-column text-center text-white">
    <hr>
    <div class="container">
        <h1>Veja o que está rolando no mundo das Startups!</h1>
        <h2>Encontre um curso, uma palestra, um workshop, um happy hour ou outro evento do SPV para participar</h2>
        <hr class="">
    </div>
    <div class="row justify-content-evenly align-items-center">
        @for (card of cardsEvento; track $index) {
        <div class="col-md-4 p-5">
            <div class="container ">
                <div class="card shadow">
                    <div class="card-body">
                        <img class="card-img" src="{{card.img}}" alt="...">
                        <h5 class="card-title">{{ card.title }}</h5>
                        <p class="card-text text-align-justify p-3">{{ card.text }}</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    <p class="card-text pt-3 pb-1">
                        <small class="text-muted">
                            <i class="fas fa-eye"></i>1000
                            <i class="far fa-user"></i>admin
                            <i class="fas fa-calendar-alt"></i>Jan 20, 2018
                        </small>
                    </p>
                </div>
            </div>
        </div>
        }
    </div>
    <div>
        <button type="button" class="btn btn-outline-light text-bold fw-bold fs-5 mt-5" style="--bs-btn-padding-y: 1em; --bs-btn-padding-x: 5em; --bs-btn-font-size: 1em;">
            SAIBA MAIS!
        </button>
    </div>
</section>